<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="steam" version="3.10.91.91241028"/>
	<package id="firefox" version="132.0.2"/>
	<package id="vcredist140" version="14.42.34433"/>
	<package id="jre8" version="8.0.431"/>
	<package id="python3" version="3.12.6"/>
	<package id="notepadplusplus.install" version="8.7.1.20241108"/>
	<package id="git.install" version="2.47.0.20241025"/>
	<package id="vlc" version="3.0.21"/>
	<package id="winrar" version="7.1.0"/>
	<package id="spotify" version="1.2.50.335"/>
	<package id="cpu-z.install" version="2.11.0.20241024"/>
	<package id="hwmonitor" version="1.55.0.20240927"/>
	<package id="discord.install" version="1.0.9169"/>
	<package id="logitechgaming5" version="5.10.127"/>
	<package id="msiafterburner" version="4.6.5.230429"/>
	<package id="leagueoflegends" version="95.0.1.2166"/>
	<package id="qbittorrent" version="5.0.1"/>
	<package id="epicgameslauncher" version="1.3.93"/>
	<package id="vscode" version="1.95.2"/>
</packages>